/* Default styles for mobile */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    height: 100vh;
}

.login-img {
    width: 450px;
    height: auto;
    display: block;
    margin: 0 auto -30px auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
/* Apply styles for tablets and larger screens */

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}
input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}
button {
    padding: 10px;
    font-size: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}   
footer {
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
}

@media (min-width: 768px) {

    body {

        font-size: 16px;

    }

}

/* Apply styles for desktops and larger screens */

@media (min-width: 1024px) {

    body {

        font-size: 18px;

    }

}